<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install"  />
  <package id="agentransack"  />
  <package id="beyondcompare"  />
  <package id="bitvise-ssh-client"  />
  <package id="Cmder"  />
  <package id="curl"  />
  <package id="Everything"  />
  <package id="filezilla"  />
  <package id="rdmfree" />
  <package id="sql-server-management-studio"  />
  <package id="GoogleChrome" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="winaero-tweaker" />
  <package id="rapidee" />
</packages>