<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="authy-desktop"  />
  <package id="axcrypt" />
  <package id="dropbox" />
  <package id="gpg4win" />
  <package id="GPMDP" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="keyfinder" />
  <package id="speccy" />
  <package id="steam" />
  <package id="teamviewer" />
  <package id="telegram.install" />
  <package id="teracopy" />
  <package id="winaero-tweaker" />
  <package id="winscp.install" />
  <package id="zerotier-one" />
  <package id="rapidee" />
</packages>