<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install"  />
  <package id="agentransack"  />
  <package id="beyondcompare"  />
  <package id="bitvise-ssh-client"  />
  <package id="ccleaner"  />
  <package id="chocolateygui"  />
  <package id="Cmder"  />
  <package id="curl"  />
  <package id="dashlane"  />
  <package id="Everything"  />
  <package id="filezilla"  />
  <package id="Firefox"  />
  <package id="git.install"  />
  <package id="gitkraken"/>
  <package id="google-backup-and-sync"  />
  <package id="GoogleChrome"  />
  <package id="lightshot"  />
  <package id="lightshot.install"  />
  <package id="linqpad" />
  <package id="linqpad5" />
  <package id="linqpad5.install"  />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install"  />
  <package id="nuget.commandline"  />
  <package id="owncloud-client"  />
  <package id="postman"  />
  <package id="rdmfree" />
  <package id="slack"  />
  <package id="tortoisegit"  />
  <package id="treesizefree"  />
</packages>